<div class="field" [class.field--invalid]="showError()">
  <label [for]="question().id">{{ question().label }}</label>

  @switch (question().type) {
    @case ('select') {
      <select [id]="question().id" [formControl]="control()">
        <option value="" disabled>Select an option</option>
        @for (option of question().options; track option) {
          <option [value]="option">{{ option }}</option>
        }
      </select>
    }
    @case ('radio') {
      <div class="radio-group" [id]="question().id">
        @for (option of question().options; track option) {
          <label class="radio-option">
            <input type="radio" [formControl]="control()" [value]="option" [attr.value]="option" />
            {{ option }}
          </label>
        }
      </div>
    }
    @case ('number') {
      <input [id]="question().id" type="number" [formControl]="control()" />
    }
    @case ('email') {
      <input [id]="question().id" type="email" [formControl]="control()" />
    }
    @default {
      <input [id]="question().id" type="text" [formControl]="control()" />
    }
  }

  @if (showError()) {
    <p class="field__error">{{ errorMessage() }}</p>
  }
</div>
