<div class="field" [class.field--invalid]="showError()">
  <label [for]="definition().key">{{ definition().label }}</label>

  @switch (definition().type) {
    @case ('select') {
      <select [id]="definition().key" [formControl]="control()">
        <option value="" disabled>{{ definition().placeholder ?? 'Select an option' }}</option>
        @for (option of definition().options; track option.value) {
          <option [value]="option.value">{{ option.label }}</option>
        }
      </select>
    }
    @case ('radio-boolean') {
      <div class="radio-group" [id]="definition().key">
        <label class="radio-option">
          <input type="radio" [formControl]="control()" value="yes" />
          Yes
        </label>
        <label class="radio-option">
          <input type="radio" [formControl]="control()" value="no" />
          No
        </label>
      </div>
    }
    @case ('number') {
      <input
        [id]="definition().key"
        type="number"
        [formControl]="control()"
        [placeholder]="definition().placeholder ?? ''"
      />
    }
    @case ('email') {
      <input
        [id]="definition().key"
        type="email"
        [formControl]="control()"
        [placeholder]="definition().placeholder ?? ''"
      />
    }
    @case ('tel') {
      <input
        [id]="definition().key"
        type="tel"
        [formControl]="control()"
        [placeholder]="definition().placeholder ?? ''"
      />
    }
    @default {
      <input
        [id]="definition().key"
        type="text"
        [formControl]="control()"
        [placeholder]="definition().placeholder ?? ''"
      />
    }
  }

  @if (showError()) {
    <p class="field__error">{{ errorMessage() }}</p>
  }
</div>
